<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">

  </head>
<body>
    <form class="form-group" action="/signup" method="post">
      <label for="username">Username</label>
      <input class="form-control" type="text" id="username" name="username" value="<%= username %>"></input>
      <label for="password">Password</label>
      <input class="form-control" type="text" id="password" name="password" value="<%= password %>"></input>
      <label for="email">Email</label>
      <input class="form-control" type="email" id="email" name="email" value="<%= email %>"></input>
      <label for="firstname">First name</label>
      <input class="form-control" type="text" id="firstname" name="firstname" value="<%= firstname %>"></input>
      <label for="lastname">Last name</label>
      <input class="form-control" type="text" id="lastname" name="lastname" value="<%= lastname %>"></input>
      <label for="phone">Phone Number</label>
      <input class="form-control" type="tel" id="phone" name="phone" value="<%= phone %>"</input>
      <button type="submit">Submit</button>
    </form>

    <% if(hasError) { %>
      <div class="row">
        <div class="col-md-6 errorBlock">
          <% for(var item in error) { %>
            <strong><h6><%= item %></h6></strong>
            <ul>
            <% for(var i = 0; i < error[item].length; i++) { %>
                <li>
                  <i>
                    <%= error[item][i].message %>
                  </i>
                </li>
            <% } %>
            </ul>
          <% } %>
        </div>
      </div>
    <% } %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>

</html>
